:root {
  --primary: #616161;
  --secondary: rgb(0, 0, 0);
  --tertiary: rgb(0, 0, 0);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--primary);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}
